// = require_self
@import url('http://fonts.googleapis.com/css?family=Port+Lligat+Slab');
@import url('http://fonts.googleapis.com/css?family=Lato');
@import 'imports.css.scss';

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
}

html { 
  height:100%;
  background-color:$brown3;
  background-image: -webkit-radial-gradient(top left, circle cover, $brown3, darken($brown3, 7%));
  background-image: -moz-radial-gradient(top left, circle cover, $brown3, darken($brown3, 7%));
  font-size:$font-size;
  font-family: $font;
  color: $brown4;
}
body{
  width: 60%;
  min-width:1015px;
  margin:0 auto;
  background-color:darken($background, 7%);
  background-image: -webkit-radial-gradient(center center, circle cover, $background, darken($background, 7%));
  background-image: -moz-radial-gradient(center center, circle cover, $background, darken($background, 7%));
  -webkit-box-shadow: 0 0 5px 1px lighten($background, 5%);
  -moz-box-shadow: 0 0 5px 1px lighten($background, 5%);
  box-shadow: 0 0 5px 1px lighten($background, 5%);
  
}

p { 
  margin-bottom:10px;
  max-width:500px;
}

li { list-style-type:none; }

a, a:hover, a:visited {
  text-decoration:none;
  color: $link-color;
  cursor:pointer;
}
input[type='submit'], button, a.btn { @include awesome-btn; }

input, textarea {
  padding:5px;
  font-size:$font-size;
  background-color:transparentize($brown2, 0.9);
}

.content, .header, .nav, .footer { padding: 0 20px; }

.content {}
.header {
  text-align:center;
  color:$brown3;
  margin-bottom:20px;
  h1, a {
    font-family: $header-font;
    font-size:$font-size * 7;
    line-height:$font-size *7 *1.1;
    font-weight:bold;
    span { color: $brown2; }
  }
  .subtitle {
    font-size:$font-size;
    font-family:Helvetica;
    font-weight:600;
  }
}
.nav {
  margin-bottom: 10px;
  border-bottom:solid 3px transparentize($brown2, 0.5);
  li { 
    height:30px;
    display: inline-block;
    cursor: pointer;
    padding:5px;
    box-sizing:padding-box;
    margin: 0 5px;
    a { color: $brown4; }
    &:first-child{ margin-left:0; padding-left: 0;}
    &:hover{ border-bottom:solid 3px $brown2; }
  }
}

.footer {
  text-align: center;
  padding:20px;
  background-color:darken($background, 20%);
}