#directory {
  a.btn { @include awesome-btn }
  width:$col * 20;
  display: -webkit-box; -webkit-box-align: stretch;
  display: -moz-box;    -moz-box-align:    stretch;
  section {
    -webkit-box-orient:vertical;  -moz-box-orient:vertical;
    display: -webkit-box;         display: -moz-box;
    &.left {width:35%; margin-right:30px;}
    &.right {width:65%;}
    .cell {
      &.header { height:50px; }
    }
    .body {
      min-height: 400px;
      width:100%;
    }
    .footer {}
  }
}
.cell.header {
  h3 {
    padding:5px 0;
    font-size:24px !important;
    line-height: 24px
  }
}
input.search {
  font-size:$font-size * 1.5;
  width:100%;
  color:lighten(#000, 10%);
  padding:5px;
}
#directory .footer {
  .subsection {
    margin-bottom: 10px
  }
}
.results {
  ul {
    max-height:395px;
    overflow:auto;
    box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    -moz-box-shadow: 0 0 5px #999;
    margin-bottom:10px;
  }  
}

.results ul {
  .row {
    padding:1px;
    border:solid 1px #fff;
    .select {
      cursor:pointer;
      background-image: url('/assets/right-arrow.svg');
      background-position:2px center;
      background-size: auto 70%;
      background-repeat:no-repeat;
      float:left;
      width:20px;
      height:20px;
    }
    &:nth-of-type(odd) { background-color:$brown1;}
    &:hover {
      text-shadow:0 0 3px $brown2;
      cursor:pointer;
    }
    &.selected {
      background-color:$brown2;
      color:#fff;
      border:solid 1px $brown1;
    }
  }
  li {
    padding:2px 0px 2px 5px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:90%;

  }
}
.check {
  display:inline-block;
  vertical-align: middle;
  input[type="checkbox"] {
    float:left;
    height:20px;
  }
  .label {
    float:right;
    font-size: 20px;
    font-size: $font-size;
  }
}
#directory .message {
  min-height:400px;
  textarea {
    height:305px;
    padding:20px;
    resize:none;
  }
  .row {
    display:-webkit-box;
    display:-moz-box;
    width:100%;
    div {
      display:-webkit-box;
      display:-moz-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width:50%;
      &:first-child { padding-right:5px; }
      &:last-child { padding-left:5px; }
    }
  }
}
