.search {
  width: 100%;
  margin-bottom: 10px;
  padding:10px;
}
.djs {
  li {
    float:left;
    width: 260px;
    margin: 0 40px 20px 0;
    &:nth-child(2n){
      margin-right:0;
    }
    h4 {
      font-weight:800;
    }
    span {
      color: lighten($brown2, 10%);
      font-size: $font-size * 0.8;
    }
  }
  textarea {
    margin: 5px 0;
    font-size: $font-size * 0.9;
    width:100%;
    height:100px;
    display: block;
  }
}

aside {
  ul {
    background-color: transparentize($brown2, 0.9);
    padding:10px;
    li {
      font-size: $font-size * 0.9;
      margin-bottom:5px;
      padding:5px;
      border-bottom: 1px solid $brown2;
    }
  }
}