.search {
  width: 100%;
  margin-bottom: 10px;
  padding:10px;
}
.djs {

  li.djItem {
    overflow: hidden;
    padding-bottom: 40px;
    margin-bottom: 10px;
    border-bottom: solid 1px $brown2;
    h4 {
      font-weight:800;
      margin-bottom: 5px;
    }
    span {
      color: lighten($brown2, 10%);
      font-size: $font-size * 0.8;
    }
    .submit {
      float:right;
    }
  }
  .arrow {
    float:left;
    background: url('collapse.svg');
    background-size: 20px 20px;
    background-position: center;
    width: 20px;
    height: 28px;
    background-repeat: no-repeat;
    margin-right: 12px;
    cursor: pointer;
  }
  
  .info {
    display:none;
    background-color: lighten($brown2, 20%);
    padding:10px;
    margin-left:32px;
    margin-top:10px;
  }
  .info ul li {
    display:inline-block;
    margin-right: 5px;
    width:16px;
  }
}

aside {
  ul {
    background-color: transparentize($brown2, 0.9);
    padding:10px;
    li {
      font-size: $font-size * 0.9;
      margin-bottom:5px;
      padding:5px;
      border-bottom: 1px solid $brown2;
    }
  }
}